# Dependencies
node_modules
dist
build

# Logs
*.log

# Environment variables
.env
.env.local

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Package manager
package-lock.json
yarn.lock
pnpm-lock.yaml
